@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

้html,
body {
  height: 100dvh;
}

a {
  color: inherit;
  text-decoration: none;
}

.header-title {
  text-decoration: underline;
}

.default-icon-size {
  font-size: 1.2rem !important;
}

.ant-layout-content {
  &.container {
    // height: calc(100dvh - 5rem);
    min-height: 80dvh;
    min-width: 90dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
}

.main-menu-item {
  transition: 0.3s;
}

.menu {
  border-radius: 10px;
  &:not([class*="ant-menu-inline-collapsed"]) {
    & li {
      padding-left: 1rem !important;
    }
    .ant-menu-submenu {
      padding-left: 0 !important;
      & > div,
      & > ul {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
      }
    }
  }
  &-wrapper {
    padding: 5px;
  }
}

.user-menu-dropdown {
  transition: 0.4s;
}
.user-menu-dropdown:hover {
  background: rgba(140, 140, 140, 0.1);
}

.login-button {
  .button-login {
    width: 9rem;
  }

  .button-forgot-password {
    width: 9rem;
  }

  .button-contact-admin {
    width: 18rem;
    margin-top: 0.5rem;
  }
}

.tag {
  &-fix-width {
    position: relative;
    margin-right: 5px;
    display: flex;
    p:first-child {
      margin-left: 10px;
      margin-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    span:last-child {
      position: absolute;
      left: 0;
      margin-top: 6px;
      margin-left: 5px;
    }
  }
  &-wrap {
    display: flex;
    align-items: center;
    & > p {
      white-space: pre-wrap;
      margin: 0;
    }
  }
}

.user-profile-top {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: -1.5rem;
  padding-right: 2.5rem;
}
.form-profile {
  width: 75%;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  .ant-form-item-control-input-content {
    input {
      font-size: larger;
    }
    label {
      span {
        font-size: larger;
      }
    }
  }

  &.light {
    background-color: var(--orange-1);
    border: solid 2px;
    border-color: var(--orange-2);
    label:not(.shift-radio) {
      padding: 0.25rem 0 0.25rem 0.9rem;
      border-radius: 0.5rem;
      background-color: var(--green-2);
    }
  }

  &.dark {
    background-color: var(--purple-10);
    border: solid 2px;
    border-color: var(--purple-9);
    label:not(.shift-radio) {
      padding: 0.25rem 0 0.25rem 0.9rem;
      border-radius: 0.5rem;
      background-color: var(--green-8);
    }
  }
}

:root {
  --colorBgBase: #fff;
  --colorError: #ff4d4f;
  --colorInfo: #1677ff;
  --colorLink: #1677ff;
  --colorPrimary: colorPrimary;
  --colorSuccess: #52c41a;
  --colorTextBase: #000;
  --colorWarning: #faad14;
  --colorBgContainer: #ffffff;
  --colorBgElevated: #ffffff;
  --colorBgLayout: #f5f5f5;
  --colorBgMask: rgba(0, 0, 0, 0.45);
  --colorBgSpotlight: rgba(0, 0, 0, 0.85);
  --colorBorder: #d9d9d9;
  --colorBorderSecondary: #f0f0f0;
  --colorErrorActive: #d9363e;
  --colorErrorBg: #fff2f0;
  --colorErrorBgHover: #fff1f0;
  --colorErrorBorder: #ffccc7;
  --colorErrorBorderHover: #ffa39e;
  --colorErrorHover: #ff7875;
  --colorErrorText: #ff4d4f;
  --colorErrorTextActive: #d9363e;
  --colorErrorTextHover: #ff7875;
  --colorFill: rgba(0, 0, 0, 0.15);
  --colorFillQuaternary: rgba(0, 0, 0, 0.02);
  --colorFillSecondary: rgba(0, 0, 0, 0.06);
  --colorFillTertiary: rgba(0, 0, 0, 0.04);
  --colorInfoActive: #0958d9;
  --colorInfoBg: #e6f4ff;
  --colorInfoBgHover: #bae0ff;
  --colorInfoBorder: #91caff;
  --colorInfoBorderHover: #69b1ff;
  --colorInfoHover: #69b1ff;
  --colorInfoText: #1677ff;
  --colorInfoTextActive: #0958d9;
  --colorInfoTextHover: #4096ff;
  --colorLinkActive: #0958d9;
  --colorLinkHover: #69b1ff;
  --colorPrimaryActive: #0958d9;
  --colorPrimaryBg: #e6f4ff;
  --colorPrimaryBgHover: #bae0ff;
  --colorPrimaryBorder: #91caff;
  --colorPrimaryBorderHover: #69b1ff;
  --colorPrimaryHover: #4096ff;
  --colorPrimaryText: #1677ff;
  --colorPrimaryTextActive: #0958d9;
  --colorPrimaryTextHover: #4096ff;
  --colorSuccessActive: #389e0d;
  --colorSuccessBg: #f6ffed;
  --colorSuccessBgHover: #d9f7be;
  --colorSuccessBorder: #b7eb8f;
  --colorSuccessBorderHover: #95de64;
  --colorSuccessHover: #95de64;
  --colorSuccessText: #52c41a;
  --colorSuccessTextActive: #389e0d;
  --colorSuccessTextHover: #73d13d;
  --colorText: rgba(0, 0, 0, 0.88);
  --colorTextQuaternary: rgba(0, 0, 0, 0.25);
  --colorTextSecondary: rgba(0, 0, 0, 0.65);
  --colorTextTertiary: rgba(0, 0, 0, 0.45);
  --colorWarningActive: #d48806;
  --colorWarningBg: #fffbe6;
  --colorWarningBgHover: #fff1b8;
  --colorWarningBorder: #ffe58f;
  --colorWarningBorderHover: #ffd666;
  --colorWarningHover: #ffd666;
  --colorWarningText: #faad14;
  --colorWarningTextActive: #d48806;
  --colorWarningTextHover: #ffc53d;
  --colorWhite: #fff;
  --boxShadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  --boxShadowSecondary: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
  --boxShadowTertiary: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02),
    0 2px 4px 0 rgba(0, 0, 0, 0.02);
  --colorBgContainerDisabled: rgba(0, 0, 0, 0.04);
  --colorBgTextActive: rgba(0, 0, 0, 0.15);
  --colorBgTextHover: rgba(0, 0, 0, 0.06);
  --colorBorderBg: #ffffff;
  --colorErrorOutline: rgba(255, 38, 5, 0.06);
  --colorFillAlter: rgba(0, 0, 0, 0.02);
  --colorFillContent: rgba(0, 0, 0, 0.06);
  --colorFillContentHover: rgba(0, 0, 0, 0.15);
  --colorHighlight: #ff4d4f;
  --colorIcon: rgba(0, 0, 0, 0.45);
  --colorIconHover: rgba(0, 0, 0, 0.88);
  --colorTextDescription: rgba(0, 0, 0, 0.45);
  --colorTextDisabled: rgba(0, 0, 0, 0.25);
  --colorTextHeading: rgba(0, 0, 0, 0.88);

  /* color palettes */
  --red-1: #fff1f0;
  --red-2: #ffccc7;
  --red-3: #ffa39e;
  --red-4: #ff7875;
  --red-5: #ff4d4f;
  --red-6: #f5222d;
  --red-7: #cf1322;
  --red-8: #a8071a;
  --red-9: #820014;
  --red-10: #5c0011;

  --volcano-1: #fff2e8;
  --volcano-2: #ffd8bf;
  --volcano-3: #ffbb96;
  --volcano-4: #ff9c6e;
  --volcano-5: #ff7a45;
  --volcano-6: #fa541c;
  --volcano-7: #d4380d;
  --volcano-8: #ad2102;
  --volcano-9: #871400;
  --volcano-10: #610b00;

  --orange-1: #fff7e6;
  --orange-2: #ffe7ba;
  --orange-3: #ffd591;
  --orange-4: #ffc069;
  --orange-5: #ffa940;
  --orange-6: #fa8c16;
  --orange-7: #d46b08;
  --orange-8: #ad4e00;
  --orange-9: #873800;
  --orange-10: #612500;

  --gold-1: #fffbe6;
  --gold-2: #fff1b8;
  --gold-3: #ffe58f;
  --gold-4: #ffd666;
  --gold-5: #ffc53d;
  --gold-6: #faad14;
  --gold-7: #d48806;
  --gold-8: #ad6800;
  --gold-9: #874d00;
  --gold-10: #613400;

  --yellow-1: #feffe6;
  --yellow-2: #ffffb8;
  --yellow-3: #fffb8f;
  --yellow-4: #fff566;
  --yellow-5: #ffec3d;
  --yellow-6: #fadb14;
  --yellow-7: #d4b106;
  --yellow-8: #ad8b00;
  --yellow-9: #876800;
  --yellow-10: #614700;

  --lime-1: #fcffe6;
  --lime-2: #f4ffb8;
  --lime-3: #eaff8f;
  --lime-4: #d3f261;
  --lime-5: #bae637;
  --lime-6: #a0d911;
  --lime-7: #7cb305;
  --lime-8: #5b8c00;
  --lime-9: #3f6600;
  --lime-10: #254000;

  --green-1: #f6ffed;
  --green-2: #d9f7be;
  --green-3: #b7eb8f;
  --green-4: #95de64;
  --green-5: #73d13d;
  --green-6: #52c41a;
  --green-7: #389e0d;
  --green-8: #237804;
  --green-9: #135200;
  --green-10: #092b00;

  --cyan-1: #e6fffb;
  --cyan-2: #b5f5ec;
  --cyan-3: #87e8de;
  --cyan-4: #5cdbd3;
  --cyan-5: #36cfc9;
  --cyan-6: #13c2c2;
  --cyan-7: #08979c;
  --cyan-8: #006d75;
  --cyan-9: #00474f;
  --cyan-10: #002329;

  --blue-1: #e6f4ff;
  --blue-2: #bae0ff;
  --blue-3: #91caff;
  --blue-4: #69b1ff;
  --blue-5: #4096ff;
  --blue-6: #1677ff;
  --blue-7: #0958d9;
  --blue-8: #003eb3;
  --blue-9: #002c8c;
  --blue-10: #001d66;

  --geekblue-1: #f0f5ff;
  --geekblue-2: #d6e4ff;
  --geekblue-3: #adc6ff;
  --geekblue-4: #85a5ff;
  --geekblue-5: #597ef7;
  --geekblue-6: #2f54eb;
  --geekblue-7: #1d39c4;
  --geekblue-8: #10239e;
  --geekblue-9: #061178;
  --geekblue-10: #030852;

  --purple-1: #f9f0ff;
  --purple-2: #efdbff;
  --purple-3: #d3adf7;
  --purple-4: #b37feb;
  --purple-5: #9254de;
  --purple-6: #722ed1;
  --purple-7: #531dab;
  --purple-8: #391085;
  --purple-9: #22075e;
  --purple-10: #120338;

  --magenta-1: #fff0f6;
  --magenta-2: #ffd6e7;
  --magenta-3: #ffadd2;
  --magenta-4: #ff85c0;
  --magenta-5: #f759ab;
  --magenta-6: #eb2f96;
  --magenta-7: #c41d7f;
  --magenta-8: #9e1068;
  --magenta-9: #780650;
  --magenta-10: #520339;

  /* Neutral Color Palette */
  --gray-1: #ffffff;
  --gray-2: #fafafa;
  --gray-3: #f5f5f5;
  --gray-4: #f0f0f0;
  --gray-5: #d9d9d9;
  --gray-6: #bfbfbf;
  --gray-7: #8c8c8c;
  --gray-8: #595959;
  --gray-9: #434343;
  --gray-10: #262626;
  --gray-11: #1f1f1f;
  --gray-12: #141414;
  --gray-13: #000000;
}
